name: raw2records

on:
  workflow_dispatch:
  schedule:
    - cron: '0,20 18 * * *'
    
jobs:
  fetchdata:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.WORKFLOW_GIT_ACCESS_TOKEN }}

      - name: raw2records
        run: .github/workflows/raw2records.sh

      - name: push2repo
        run: |
          git config --global user.name "raw2records.yml"
          git config --global user.email "raw2records.yml@example.com"
          git add data
          git commit -m "$GITHUB_WORKFLOW run $GITHUB_RUN_NUMBER"
          git push
